input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

span.help-block {
    display: block;
    width: 100%;
}

.action-btn a {
    padding: 2px;
}

.center{
    text-align: center;
}