<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View All Category</span>
        <button (click)="open(content, data)" nbButton style="float: right;">Add category </button>
        <ng-template #content let-c="close" let-d="dismiss" id="modal-container">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
              <span *ngIf="!isEditPage">Add Category</span>
              <span *ngIf="isEditPage">Update Category</span>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true" (click)="close()">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="name" class="label">Category Name</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name"><i class="fa fa-bars"></i></span>
                    </div>
                    <input type="text" id="name" maxlength="60" formControlName="name" class="form-control"
                      placeholder="Category Name" aria-label="name">
                  </div>
                  <span *ngIf="!addCategoryForm.get('name').valid && addCategoryForm.get('name').touched"
                    class="help-block">Please enter a valid Category!</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <button [disabled]="addCategoryForm.invalid" type="submit" nbButton>
                    <span *ngIf="!isEditPage">Add Category</span>
                    <span *ngIf="isEditPage">Update Category</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group form-inline">
            Search: <input class="form-control ml-2" type="text"  [formControl]="filter"/>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Category Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of category$ | async; let i = index">
              <th scope="row">{{ cat.id }}</th>
              <td>
                  <ngb-highlight [result]="cat.name" [term]="filter.value"></ngb-highlight>
              </td>

              <td class="action-btn">
                <a placement="top" ngbTooltip="Active" *ngIf="category.isDeleted" (click)="activeCategory(category)"><i
                    class="fa fa-check"> </i></a>
                <a placement="top" ngbTooltip="Edit" *ngIf="!category.isDeleted" (click)="open(content, category)"><i
                    class="fa fa-edit"> </i></a>
                <a placement="top" ngbTooltip="Delete" *ngIf="!category.isDeleted" (click)="deleteCategory(category)"><i
                    class="fa fa-trash"> </i></a>
              </td>

            </tr>
            <tr>
              <td colspan="3">
                <p class="center help-block" *ngIf="!isEmpty"> There is no data of category !</p>
              </td>
            </tr>
          </tbody>
        </table>



      </nb-card-body>
    </nb-card>
  </div>

</div>