<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span>Generate Invoice</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="GenerateInvoice">
          <div class="row form-group">
              <div class="col-sm-3"> 
                <label class="label">Item</label>
                  <div class="input-group mb-3">
                    <select class="form-control" id="item"  formControlName="item">
                      <option>P 1</option>
                      <option>P 2</option>
                      <option>P 3</option>  
                    </select> 
                  </div> 
                </div>
              <div class="col-sm-3">
                <label class="label">Quantity</label>
                <div class="input-group mb-3">
                  <input type="text" id="quantity" formControlName="quantity" class="form-control" placeholder="Quantity">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="label">Price</label>
                <div class="input-group mb-3">
                  <input type="text" id="price" formControlName="price" class="form-control" placeholder="Price">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="label">&nbsp;</label>
                <div class="mb-3">                
                  <button type="button" nbButton (click)="addrow();">
                  <span>Add Item</span> 
                </button>
              </div>
              </div>
          </div>
        </form>

        <hr>

        added items

      </nb-card-body>
    </nb-card>

  </div>
</div>