<nb-layout>
  <nb-layout-column>

    <div class="row">
      <div class="offset-sm-2 col-md-8">
        <nb-card>
          <nb-card-header>Login form</nb-card-header>
          <nb-card-body>
            <form [formGroup]="signinForm" (ngSubmit)="login()" class="form-horizontal">

              <div class="form-group row">
                <label for="emailID" class="label col-sm-3 form-control-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth formControlName="email" maxlength="50" id="emailID" placeholder="Email"
                    autofocus>
                  <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched"
                    class="help-block">Please
                    enter a valid email!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="pass" class="label col-sm-3 form-control-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" nbInput fullWidth maxlength="30" id="pass" formControlName="password" placeholder="Password">
                  <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched"
                    class="help-block">Please enter a valid password!</span>
                </div>
              </div>

              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button [disabled]="signinForm.invalid" type="submit" nbButton status="warning">Sign in</button>
                </div>
              </div>

              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <a style="cursor: pointer;" (click)="createAccount()">Create an account?</a>
                </div>
              </div>

            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>