<div class="row">

    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <span>View Stock Return</span>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-12">
                    <label>Purchase Id: #</label>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Raw Materials </th>
                            <th scope="col">Status</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let val of valuedataarray; let i = index"> -->
                            <tr>
                            <td> 1 </td>
                            <td> 2 </td>
                            <td>1</td>
                            <td>  5</td>
                            <td> 8</td>
                            <td> 9 </td>
                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td scope="col"> Sub Total  </td>
                                <td scope="col"> 5</td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <label>Note- </label>
                </div>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  
  </div>
  
  
  