<div class="row">

    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <span>View Stock Return</span>
        </nb-card-header>
        <nb-card-body>
            
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Purchase Order ID</th>
                <th scope="col">Notes</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of history; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{row.purchaseOrderId}}</td>
                <td>{{row.return_note}}</td>
                <td class="action-btn"> 
                  <a (click)="viewHistory(row)" ngbTooltip="View"><i class="fa fa-eye"> </i></a> &nbsp;
                  <a *ngIf="!history.isDeleted" ngbTooltip="Edit" (click)="editHistory(row)"><i class="fa fa-edit"> </i></a> &nbsp;
                  <a *ngIf="history.isDeleted" ngbTooltip="Activate" (click)="activateHistory(row)"><i class="fa fa-check"></i></a>&nbsp;
                  <a *ngIf="!history.isDeleted"ngbTooltip="Delete" (click)="deleteHistory(row)"><i class="fa fa-trash"></i></a>
                </td>
  
              </tr>
              <tr>
                <td colspan="4">
                  <p class="center help-block" *ngIf="!isEmpty">There is no data of stock return !</p>
                </td>
              </tr>
            </tbody>
          </table>
           
        </nb-card-body>
      </nb-card>
    </div>
  
  </div>
  
  
  