<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        Add Order
      </nb-card-header>
      <nb-card-body>

        <!-- <form>
          <div class="form-group form-inline">
            <input placeholder="search..." class="form-control ml-2" type="text" [formControl]="filter" />
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Country</th>
              <th scope="col">Area</th>
              <th scope="col">Population</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries$ | async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                  style="width: 20px">
                <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight>
              </td>
            </tr>
          </tbody>
        </table> -->

        <div class="row">
          <form>
            <div class="form-group form-inline">
              <input placeholder="search..." class="form-control ml-2" type="text" [formControl]="filter" />
            </div>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Inventory Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let int of inventoryList">
                <td> {{ int.id }} </td>
                <td> {{ int.itemName }} </td>
                <td> {{ int.price }} </td>
                <td> {{ int.quantity }} </td>
                <td> {{ int.unitLabel }} </td>
              </tr>
            </tbody>
          </table>

        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>