form {
    width: 100%;
  }
  
  .row {
    padding-bottom: 10px;
  }
  
  label {
    font-weight: 600;
  }
  
  span.error-msg {
    font-size: 11px;
    color: red;
  }

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

i.fa.fa-edit{
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  padding: 0.35rem 0.35rem !important;
  border-radius: 5px !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
  