<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Stock Transfer</span>
        <span *ngIf="isEditPage">Edit Stock Transfer</span>
      </nb-card-header>
      <nb-card-body>

        <!-- <form>
            <div class="input-group mb-3">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-prepend">
                <span class="input-group-text" id="supplierName"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </form> -->

        <div class="row">
          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Stock Transfer Details</legend>
              <div class="control-group">
                <div class="row">
                  <div class="col-4">
                    <label class="control-label input-label" for="startTime">Transfer Name</label>
                    <input type="text" [(ngModel)]="orderName" class="form-control" placeholder="Transfer name">
                  </div>
                  <div class="col-4">
                    <label class="control-label input-label" for="startTime">From</label>
                    <select [(ngModel)]="source" class="form-control">
                      <option value="test from">Test From</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label class="control-label input-label" for="startTime">To</label>
                    <select [(ngModel)]="destination" class="form-control">
                      <option value="test to">Test To</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1">
            <label>#</label>
          </div>
          <div class="col-md-5">
            <label>Material Name</label>
          </div>
          <div class="col-md-4">
            <label>Transfer Quantity</label>
          </div>
          <div class="col-md-2">
            <label>Action</label>
          </div>
        </div>

        <hr>

        <div class="row" *ngFor="let int of inventoryList; let index = index">
          <div class="col-md-1 col-sm-1">
            <span>{{ int.id }}</span>
          </div>
          <div class="col-md-4">
            <span>{{ int.itemName }}</span>
          </div>
          <div class="col-md-3 col-sm-3">
            <input type="number" min="1" maxlength="7" (change)="varifyQty($event, int)" [(ngModel)]="int.orderQuantity"
              name="quantity" class="form-control" placeholder="Enter quantity">
            <span class="error-msg">{{int.errorMessage}}</span>
          </div>

          <div class="col-md-2">
            <span>/ &nbsp;{{ int.quantity }} {{ int.unitLabel }}</span>
          </div>

          <div class="col-md-2">
            <button [disabled]="!int.orderQuantity" *ngIf="int.isDisable" class="btn btn-success"
              (click)="updateOrder(int)" title="Edit"><i class="fa fa-edit"></i></button>

            <button [disabled]="!int.orderQuantity" title="Add" *ngIf="!int.isDisable" class="btn btn-success"
              (click)="addInventory(int)"><i class="fa fa-plus"></i></button>

          </div>

        </div>
        <p class="help" *ngIf="!isData">There is no data of inventory</p>
        <hr>
        <div class="container">
          <div class="form-row">

            <button (click)="reviewOrder()" [disabled]="!orderName || !source || !destination"
              class="btn btn-primary fl-r">
              <span *ngIf="!isEditPage">Submit </span>
              <span *ngIf="isEditPage">Update </span>
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>