<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        STOCK TRANSFER LIST
        <button (click)="newOrder()" class="btn btn-success fl-r"><i class="fa fa-plus"></i> New</button>
      </nb-card-header>
      <nb-card-body>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"> Transfer ID</th>
              <th scope="col"> Name</th>
              <th scope="col"> Transfer Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of descpatchOrderData">
                <th scope="row">{{ item.id }}</th>
                <td><a (click)="reviewOrder(item.id)">{{ item.orderName }}</a></td>
                <td>{{ item.orderDate | date }}</td>
                <td>
                 <span *ngIf="item.orderStatus == 'Review'" class="badge badge-warning">{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus == 'Dispatched'" class="badge badge-success">{{ item.orderStatus }}</span>
                </td>
                <td>
                  <button *ngIf="item.orderStatus == 'Review'" title="Edit" (click)="editOrder(item.id)" class="btn btn-primary"><i
                      class="fa fa-edit"></i></button>
                </td>
              </tr>
            </tbody>
        </table>

        <div *ngIf="!isEmpty" class="error-msg form-group">
          <p style="text-align: center;"> There is no list</p>
        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>