<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Product</span>
        <span *ngIf="isEditPage">Update Product</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="productSKUid" class="label">SKU Id</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="productSKUid"><i class="fa fa-bars"></i></span>
                </div>
                <input type="text" id="productSKUid" maxlength="60" formControlName="sku_id" class="form-control"
                  placeholder="SKU id" aria-label="SKU Id">
                <span *ngIf="!addProductForm.get('sku_id').valid && addProductForm.get('sku_id').touched"
                  class="help-block">Please enter a valid SKU Id!</span>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="productName" class="label">Product Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="productName"><i class="fa fa-bars"></i></span>
                </div>
                <input type="text" id="productName" maxlength="60" formControlName="productName" class="form-control"
                  placeholder="Product name" aria-label="firstName">
                <span *ngIf="!addProductForm.get('productName').valid && addProductForm.get('productName').touched"
                  class="help-block">Please enter a valid product name!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <span>
                <label for="image" class="label">Image</label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="productImage"><i class="fa fa-image"></i></span>
                  <div class="custom-file">
                    <input type="file" accept="image/*" formControlName="productImage" (change)="imageUrl($event)"
                      class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">{{ imgUrl }}</label>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-sm-6">
              <label for="categoryId" class="label"> Category </label>
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text" id="categoryId"><i class="fa fa-tags"></i></span>
                </div>
                <select class="form-control" formControlName="categoryId" id="categoryId" multiple>
                  <!-- <option value="" aria-selected="true"> -- Select Category --</option> -->
                  <option *ngFor="let category of Categories" value="{{ category.id }}" (click)="getCat(category)">
                    {{ category.name }}
                  </option>
                </select>
              </div>
              <!-- <angular2-multiselect [data]="dropdownList" formControlName="categoryId" 
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)" 
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect> -->
            </div>

            <div class="col-sm-6">
              <label for="unitLabel" class="label">Unit Label</label>
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text" id="unitLabel"><i class="fa fa-tags"></i></span>
                </div>
                <select class="form-control" formControlName="unit_id" id="unitLabel">
                  <option value="">--Select--</option>
                  <option *ngFor="let unit of unitLabel" value="{{ unit.unitId }}">{{ unit.label }}
                  </option>
                </select>

              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12">
              <label for="description" class="label">Description</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-info" aria-hidden="true"></i></span>
                </div>
                <textarea class="form-control" maxlength="250" formControlName="productDescription" id="description"
                  aria-label="With textarea" placeholder="Description"></textarea>
                <span
                  *ngIf="!addProductForm.get('productDescription').valid && addProductForm.get('productDescription').touched"
                  class="help-block">Please enter a valid product description!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-6">
              <label for="quantity" class="label">Quantity</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="quantity"><i class="fa fa-sort-amount-up"
                      aria-hidden="true"></i></span>
                </div>
                <input type="number" min="1" maxlength="7" formControlName="quantity" id="quantity" class="form-control"
                  placeholder="Enter quantity" aria-label="quantity">
                <span *ngIf="!addProductForm.get('quantity').valid && addProductForm.get('quantity').touched"
                  class="help-block">Please enter a valid quantity!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="cost" class="label">Cost</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-rupee-sign"></i></span>
                </div>
                <input type="number" min="1" maxlength="7" id="cost" formControlName="price" class="form-control"
                  placeholder="Enter cost" aria-label="cost">
                <span *ngIf="!addProductForm.get('price').valid && addProductForm.get('price').touched"
                  class="help-block">Please enter a valid price!</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-12">
              <a class="btn btn-warning" style="cursor: pointer; color: white;">
                <span *ngIf="!isEditPage" (click)="open(content)"><strong>Add Attributes</strong></span>
                <span *ngIf="isEditPage" (click)="navigateToAttribute(confirmation)"><strong>Edit Attributes</strong></span>
              </a><br>
              <span *ngIf="!isEditPage" style="font-size: 10pt;"> Optional ( It can be added later )</span>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-12">
              <table *ngIf="attributesList.length > 0" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Attribute Name</th>
                    <th scope="col">Value & Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attribute of attributesList; let i = index">
                    <td> {{i+1}}</td>
                    <td> {{attribute.name}}</td>
                    <td>
                      <span *ngFor="let attri of attribute.attributeValue" class="list-comma">
                        {{attri.value}} ({{attri.price}})
                      </span>

                    </td>
                    <td> <a  placement="top" ngbTooltip="Delete" (click)="deleteAttribute(val, i)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <!-- <tr *ngFor="let val of valuedataarray; let i = index">
                    <td> {{ editFormData.attributeValue.length+i+1}}</td>
                    <td> {{val.value}}</td>
                    <td> {{val.price}}</td>
                    <td> <a (click)="deleterow(i)"><i class="fa fa-trash"></i></a></td>
                  </tr> -->
                </tbody>
              </table>
            </div>

          </div>


          <div class="form-group row">
            <div class="col-sm-12">
              <button [disabled]="addProductForm.invalid" type="submit" nbButton>
                <span *ngIf="!isEditPage">Add Product</span>
                <span *ngIf="isEditPage">Update Product</span>
              </button>
            </div>
          </div>
        </form>


        <ng-template #content let-c="close" let-d="dismiss" id="modal-container">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
              <span *ngIf="!isEditPage">Add Attributes</span>
              <span *ngIf="isEditPage">Update Attributes</span>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addAttributesForm" (ngSubmit)="insertAttributes()">
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="name" class="label">Attribute Name</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name"><i class="fa fa-bars"></i></span>
                    </div>
                    <input type="text" id="name" maxlength="60" formControlName="name" class="form-control"
                      placeholder="Attribute Name" aria-label="name">
                  </div>
                  <span *ngIf="!addAttributesForm.get('name').valid && addAttributesForm.get('name').touched"
                    class="help-block">Please Enter Attribute Name !</span>
                </div>
                <div class="col-12">
                  <section class="container border mb-4 p-3">

                    <div class="row">
                      <div class="col-5">
                        <div class="form-group">
                          <label class="label"> Attributes Value </label>
                          <input type="text" class="form-control" formControlName="value"
                            placeholder="Attribute Value" />
                          <span *ngIf="!addAttributesForm.get('value').valid && addAttributesForm.get('value').touched"
                            class="help-block">Please enter valid value</span>
                          <span class="error-msg"> {{ errorMessageValue}}</span>
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="form-group">
                          <label class="label">Attributes Price </label>
                          <input type="number" class="form-control" formControlName="price" placeholder="Price" />
                          <span *ngIf="!addAttributesForm.get('price').valid && addAttributesForm.get('price').touched"
                            class="help-block">Please enter valid price</span>
                          <span class="error-msg">{{errorMessagePrice}}</span>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="form-group"><br>

                          <button [disabled]="addAttributesForm.invalid" type="button" class="btn btn-primary btn-sm" style="float: right;"
                            (click)="addAttributes()" style="margin-top: 10px; margin-left: -10px;">Add</button>

                        </div>
                      </div>

                    </div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Attribute Value</th>
                          <th scope="col">Attribute Price</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let val of editFormData.attributeValue; let i = index">
                          <td> {{i+1}}</td>
                          <td> {{val.value}}</td>
                          <td> {{val.price}}</td>
                          <td> <a placement="top" ngbTooltip="Delete" (click)="deleteValue(val, i)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr *ngFor="let val of valuedataarray; let i = index">
                          <td> {{ editFormData.attributeValue.length+i+1}}</td>
                          <td> {{val.value}}</td>
                          <td> {{val.price}}</td>
                          <td> <a placement="top" ngbTooltip="Delete" (click)="deleterow(i)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                          <td colspan="4">
                            <p class="center help-block"
                              *ngIf="valuedataarray.length < 1 && editFormData.attributeValue.length < 1">
                              There is no data of attributes !</p>
                          </td>
                        </tr>
                      </tbody>

                    </table>

                  </section>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12">
                  <button [disabled]="addAttributesForm.invalid || valuedataarray.length < 1 && editFormData.attributeValue.length < 1" (click)="addAttributePopup(attributeEditConfirmation)"
                    type="submit" nbButton>
                    <span *ngIf="!isEditPage">Add Attribute</span>
                    <span *ngIf="isEditPage">Update Attribute</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>



        <!-- confirmation popup -->

        <ng-template #confirmation let-c="close" let-dis="dismiss" id="modal-container">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Alert</h5>
            <button type="button" class="close" aria-label="Close" (click)="dis('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-md-12">
                <p>Are you sure your changes not saved, it may lost. Do you want to save?</p>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-success" nbButton (click)="yesConfirm()">Yes</button>
              </div>
              <div class=" col-md-2">
                <button type="submit" class="btn btn-danger" nbButton (click)="noConfirm()">No</button>

              </div>
            </div>

          </div>
        </ng-template>




      </nb-card-body>
    </nb-card>
  </div>
</div>