input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

span.help-block {
    display: block;
    width: 100%;
}

.action-btn a {
    padding: 2px;
}

.error-msg{
    color: red;
    font-size: 11px;
}

.list-comma::after {
    content: ',';
    padding-right: 10px;
  }
.list-comma:last-child::after {
    content: '';
}

.center {
    text-align: center;
}