<div class="row">
    <div class="col-md-12">
  
      <nb-card>
        <nb-card-header>
          Order Review
        </nb-card-header>
        <nb-card-body>
          <div class="order-review">
  
            <div class="row">
              <div class="col-md-6">
                <label>Order Name: <strong>{{ orderData.orderName }}</strong> </label>
              </div>
              <div class="col-md-6">
                <label> Order Date: <strong>{{ orderData.orderDate | date }}</strong> </label>
              </div>
            </div>
  
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Quantity</th>
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderItems">
                  <td>{{item.id}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.quantity}}</td>
  
                </tr>
              </tbody>
            </table>
  
          </div>
          <button (click)="despatchOrder()" class="btn btn-primary">Dispatch order</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>