<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View All Product</span>
      </nb-card-header>
      <nb-card-body>
          <form>
              <div class="form-group form-inline">
                Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
              </div>
            </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">SKU ID</th>
              <th scope="col">Name & Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productdata$ | async; let i = index">
              <th scope="row">
                <!-- {{ product.id }} -->
                <ngb-highlight [result]="product.id" [term]="filter.value"></ngb-highlight>
              </th>
              <td>
                {{ product.sku_id }}
              </td>
              <td>
                <!-- <p ngbPopover="{{product.productName}}" triggers="mouseenter:mouseleave"  > -->
                  <!-- {{product.productName | slice:0:50}}   -->
                  <!-- <ngb-highlight ngbPopover="{{product.productName}}" triggers="mouseenter:mouseleave" [result]="product.productName" [term]="filter.value"></ngb-highlight> -->
                  <ngb-highlight [result]="product.productName | slice:0:10" [term]="filter.value"></ngb-highlight><label ngbTooltip="{{product.productName}}"> ... </label>
                <!-- </p>  -->
                <br/><br/>
                 {{product.productDescription | slice:0:100 }}<label ngbTooltip="{{product.productDescription}}" > ... </label></td>
              <td>{{product.quantity}}</td>
              <td><i class="fas fa-rupee-sign"> </i> &nbsp;{{product.price}}</td>
              <td class="action-btn">
                <a placement="top" ngbTooltip="View" (click)="viewProduct(product)"><i class="fa fa-eye"></i> </a> &nbsp;
                <a placement="top" ngbTooltip="Edit" *ngIf="!product.isDeleted" (click)="editProduct(product)"><i class="fa fa-edit"> </i></a> &nbsp;
                <a placement="top" ngbTooltip="Active" *ngIf="product.isDeleted" (click)="activateProduct(product)"><i class="fa fa-check"></i></a>&nbsp;
                <a placement="top" ngbTooltip="Delete" *ngIf="!product.isDeleted" (click)="deleteProduct(product)"><i class="fa fa-trash"></i></a>
              </td>

            </tr>

            <tr>
              <td colspan="6">
                <p class="center help-block" *ngIf="!isEmpty"> There is no data of product !</p>
              </td>
            </tr>
          </tbody>
        </table>

      </nb-card-body>
    </nb-card>
  </div>

</div>