<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
              
            <div class="col-md-5">
              <i (click)="backClicked()" class="fa fa-arrow-left" title="Go Back"></i> &nbsp;&nbsp;
              <strong>Product Name-</strong> 
              {{showdata.productName}}
            </div>
            <div class="col-md-5">
                <strong>SKU ID-</strong> {{showdata.sku_id}}  
            </div>
            <div class="col-md-2">
              <!-- <button type="button" nbButton> Edit </button> -->
              <a (click)="editProduct(showdata)" ngbTooltip="Edit" style="float: right;"><i class="fa fa-edit"> </i></a>
            </div>
            </div>
        <!-- <span><strong>Product Name-</strong> {{showdata.productName}}</span>
        <span style="float: right;"><strong>SKU ID-</strong> {{showdata.sku_id}} </span> -->
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <strong>Description</strong><br>
            {{showdata.productDescription}}
          </div>
          <div class="col-md-6">
            <img src="{{imgurl}}" (error)="setDefaultPic()" width="250px">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-3">
            <strong> Category </strong><br>
            <!-- <label *ngIf="!catEmpty; else catshow"> Null</label> -->
            <label *ngFor="let cat of showdata.category" class="list-comma"> {{cat.name}} </label>  
          </div>
          <div class="col-md-3">
            <strong>Unit Label</strong><br>
            {{ showdata.unit_id }}
          </div>
          <div class="col-md-3">
            <strong>Quantity</strong><br>
            {{ showdata.quantity }}
          </div>
          <div class="col-md-3">
            <strong>Cost</strong><br>
            <i class="fas fa-rupee-sign"></i> {{ showdata.price }}/-
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-12">
            <strong>Attribute Details-</strong><br><br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Attribute Name</th>
                  <th>Attribute Value & Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let att of showdata.attributes; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{att.name}}</td>
                  <td>
                    <label *ngFor="let val of att.attributeValue" class="list-comma">
                      {{val.value}}({{val.price}})
                    </label>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="center help-block" *ngIf="!isEmpty"> There is no list</p>
                  </td>
                </tr>
              </tbody>
              
            </table>

            
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>