<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Stock Return</span>
        <span *ngIf="isEditPage">Update Stock Return</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="addStockReturnForm" (ngSubmit)="addaddStockReturn()">
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="transferId" class="label">Transfer ID</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="transferId"><i class="fa fa-bars"></i></span>
                </div>
                  <select formControlName="transferId" class="form-control" (change)="getOrder($event)">
                    <option *ngFor="let order of orderData" value="{{order.id}}">{{order.orderName}}</option>
                  </select>

                <span *ngIf="!addStockReturnForm.get('transferId').valid && addStockReturnForm.get('transferId').touched"
                  class="help-block">Please select a valid Order ID!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <section>
                <section class="container border mb-4 p-3">
                    <div class="row">
                      <div class="col-3">
                          <div class="form-group">
                            <label class="label"> Raw Material </label>
                            <select class="form-control" formControlName="itemName" (change)="getReturnData($event)">
                              <option *ngFor="let dataTransfer of stockTransferDataArray" value="{{dataTransfer.itemName}}"> {{dataTransfer.itemName}} </option>
                            </select>
                            <span class="error-msg">{{errorMessageItem}}</span>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                            <label class="label"> Quantity <span>(Available - {{this.totalQuantity}})</span></label>
                            <input type="text" class="form-control" formControlName="returnQuantity" placeholder="Quantity" min="1" maxlength="10" (change)="checkQuantity($event)"/>
                            <span class="error-msg">{{errorMessage}}</span><br>
                            <!-- <span> Total - {{this.totalQuantity}}</span> -->
                          </div>
                      </div>

                      <div class="col-2">
                          <div class="form-group">
                              <label class="label"> Amount </label>
                              <input type="text" class="form-control" formControlName="orderPrice" placeholder="Amount" readonly/>
                            </div>
                        </div>

                      <div class="col-3">
                          <div class="form-group">
                              <label class="label"> Status </label>
                              <select class="form-control" formControlName="itemStatus" id="status">
                                  <option value="Unused"> Unused </option>
                                  <option value="Defective"> Defective </option>
                              </select>
                              <span class="error-msg">{{errorMessageStatus}}</span><br>
                            </div>
                        </div>
  
                      <div class="col-1">
                        <div class="form-group"><br> 
                          <button type="button" class="btn btn-primary btn-sm" style="float: right;" (click)="addmaterial()" style="margin-top: 10px; margin-left: -10px;" >Add</button>
                        </div>
                      </div>
  
                    </div>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Raw Materials </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let val of valuedataarray; let i = index">
                          <td> {{i+1}}</td>
                          <td> {{val.itemName}}</td>
                          <td> {{val.returnQuantity}}</td>
                          <td> {{val.orderPrice}}</td>
                          <td> {{val.total_amount}} </td>
                          <td> {{val.itemStatus}} </td>
                          <td> <a (click)="deleterow(val, i)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td scope="col"> Sub Total  </td>
                            <td scope="col"> {{grossAmount}} </td>
                            <td>  </td>
                            <td>  </td>
                          </tr>
                      </tbody>
                    </table>
                </section>
              </section>
            </div>
          </div>
          
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="description" class="label">Note</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-info" aria-hidden="true"></i></span>
                </div>
                <textarea class="form-control" maxlength="250" formControlName="description" id="description"
                  aria-label="With textarea" placeholder="Description"></textarea>
                <span *ngIf="!addStockReturnForm.get('description').valid && addStockReturnForm.get('description').touched"
                  class="help-block">Please enter a valid Item description!</span>
              </div>
            </div>
          </div>

          

          <div class="form-group row">
            <div class="col-sm-12">
              <button [disabled]="addStockReturnForm.invalid" type="submit" nbButton>
                <span *ngIf="!isEditPage">Add </span>
                <span *ngIf="isEditPage">Update</span>
              </button>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>