<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View All Attributes</span>
        <button (click)="open(content, checkEdit)" nbButton style="float: right;">Add Attributes </button>
        <ng-template #content let-c="close" let-d="dismiss" id="modal-container">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
              <span *ngIf="!isEditPage">Add Attributes</span>
              <span *ngIf="isEditPage">Update Attributes</span>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addAttributesForm" (ngSubmit)="insertAttributes()">
              <div class="row form-group">

                <div class="col-md-12">
                  <label for="productId" class="label"> Product</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="productId">
                        <i class="fa fa-shopping-bag"></i></span>
                    </div>

                    <select formControlName="productId" class="form-control" aria-label="productId">
                      <option [value]=null>--Select Product--</option>
                      <option *ngFor="let product of allProduct" value="{{ product.id }}">{{ product.productName }}
                      </option>
                    </select>
                  </div>
                  <span *ngIf="!addAttributesForm.get('productId').valid && addAttributesForm.get('productId').touched"
                    class="help-block">Please Select Product !</span>
                </div>


                <div class="col-md-12">
                  <label for="name" class="label">Attribute Name</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name"><i class="fa fa-bars"></i></span>
                    </div>
                    <input type="text" id="name" maxlength="60" formControlName="name" class="form-control"
                      placeholder="Attribute Name" aria-label="name">
                  </div>
                  <span *ngIf="!addAttributesForm.get('name').valid && addAttributesForm.get('name').touched"
                    class="help-block">Please Enter Attribute Name !</span>
                </div>

              </div>

              <div class="row form-group">
                <div class="col-12">

                  <section class="container border mb-4 p-3" *ngFor="let attribute of attributesdata; let i = index;">

                    <div class="row">
                      <div class="col-5">
                        <div class="form-group">
                          <label class="label"> Attributes Value </label>
                          <input type="text" class="form-control" formControlName="value"
                            placeholder="Attribute Value" />
                          <span class="error-msg">{{errorMessageValue}}</span>
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="form-group">
                          <label class="label">Attributes Price </label>
                          <input type="number" class="form-control" formControlName="price" placeholder="Price" />
                          <span class="error-msg">{{errorMessagePrice}}</span>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="form-group"><br>
                          <button [disabled]="addAttributesForm.invalid" type="button" class="btn btn-primary btn-sm"
                            style="float: right;" (click)="addAttributes()"
                            style="margin-top: 10px; margin-left: -10px;">Add</button>
                        </div>
                      </div>

                    </div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Attribute Value</th>
                          <th scope="col">Attribute Price</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let val of editFormData.attributeValue; let i = index">
                          <td> {{i+1}}</td>
                          <td> {{val.value}}</td>
                          <td> {{val.price}}</td>
                          <td> <a (click)="deleteValue(val, i)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr *ngFor="let val of valuedataarray; let i = index">
                          <td> {{ editFormData.attributeValue.length+i+1}}</td>
                          <td> {{val.value}}</td>
                          <td> {{val.price}}</td>
                          <td> <a (click)="deleterow(i)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                          <td colspan="4">
                            <p class="center help-block"
                              *ngIf="valuedataarray.length < 1 && editFormData.attributeValue.length < 1">
                              There is no data of attribute value & price !</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </section>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12">
                  <button [disabled]="addAttributesForm.invalid || valuedataarray.length < 1 &&
                    editFormData.attributeValue.length < 1" type="submit" nbButton>
                    <span *ngIf="!isEditPage">Add Attribute</span>
                    <span *ngIf="isEditPage">Update Attribute</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </nb-card-header>

      <nb-card-body>
        <form>
          <div class="form-group form-inline">
            Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
          </div>
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Attribute Name</th>
              <th scope="col">Product Name</th>
              <th scope="col">Attribute Values</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attribute of attributes$ | async; let i = index">
              <td scope="row">{{ i+1 }}</td>
              <td>
                 <ngb-highlight [result]="attribute.name" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="attribute.productName | slice:0:12" [term]="filter.value"></ngb-highlight>
                <label ngbTooltip="{{attribute.productName}}">...</label>
              </td>
              <td> <span *ngFor="let values of attribute.attributeValue" class="list-comma">{{ values.value }}
                  ({{ values.price }}) </span>
              </td>
              <td class="action-btn">
                <a placement="top" ngbTooltip="Active" *ngIf="attribute.isDeleted"
                  (click)="activeAttribute(attribute)"><i class="fa fa-check"> </i></a>
                <a placement="top" ngbTooltip="Edit" *ngIf="!attribute.isDeleted" (click)="open(content, attribute)"><i
                    class="fa fa-edit"> </i></a>
                <a placement="top" ngbTooltip="Delete" *ngIf="!attribute.isDeleted"
                  (click)="deleteAttribute(attribute)"><i class="fa fa-trash"> </i></a>
              </td>

            </tr>
          </tbody>
        </table>
        <div *ngIf="!isEmpty" class="error-msg form-group">
          <p style="text-align: center;"> There is no data of attibutes !</p>
        </div>

      </nb-card-body>
    </nb-card>
  </div>

</div>