input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

span.help-block {
    display: block;
    width: 100%;
}

.action-btn a {
    padding: 2px;
}

.list-comma::before {
    content: ',';
    padding-right: 10px;
  }
.list-comma:first-child::before {
    content: '';
  }

span.error-msg {
    font-size: 11px;
    color: red;
}

.center {
    text-align: center;
}