<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Material</span>
        <span *ngIf="isEditPage">Update Material</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="addItemForm" (ngSubmit)="addItem()">
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="itemName" class="label">Material Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="itemName"><i class="fa fa-bars"></i></span>
                </div>
                <input type="text" id="itemName" maxlength="60" formControlName="itemName" class="form-control"
                  placeholder="Enter Material name" aria-label="firstName">
                <span *ngIf="!addItemForm.get('itemName').valid && addItemForm.get('itemName').touched"
                  class="help-block">Please enter a valid material name!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <span>
                <label for="image" class="label">Image</label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="itemImage"><i class="fa fa-image"></i></span>
                  <div class="custom-file">
                    <input type="file" accept="*" formControlName="itemImage" (change)="imageUrl($event)"
                      class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">{{ imgUrl }}</label>
                  </div>
                </div>
              </span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12">
              <label for="description" class="label">Description</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-info" aria-hidden="true"></i></span>
                </div>
                <textarea class="form-control" maxlength="250" formControlName="itemDescription" id="description"
                  aria-label="With textarea" placeholder="Enter Description"></textarea>
                <span *ngIf="!addItemForm.get('itemDescription').valid && addItemForm.get('itemDescription').touched"
                  class="help-block">Please enter a material description!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-6">
              <label for="quantity" class="label">Quantity</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="quantity"><i class="fa fa-sort-amount-up"
                      aria-hidden="true"></i></span>
                </div>
                <input type="number" min="1" maxlength="7" formControlName="quantity" id="quantity" class="form-control"
                  placeholder="Enter Quantity" aria-label="quantity">
                <span *ngIf="!addItemForm.get('quantity').valid && addItemForm.get('quantity').touched"
                  class="help-block">Please enter a valid quantity!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="cost" class="label">Cost</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-rupee-sign"></i></span>
                </div>
                <input type="number" min="1" maxlength="7" id="cost" formControlName="price" class="form-control"
                  placeholder="Enter Cost" aria-label="cost">
                <span *ngIf="!addItemForm.get('price').valid && addItemForm.get('price').touched"
                  class="help-block">Please enter a valid price!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-6">
              <label for="unitLabel" class="label">Unit Label</label>
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text" id="unitLabel"><i class="fa fa-tags"></i></span>
                </div>
                <select class="form-control" ng-model="unit" (change)="getItemId($event.target)"
                  formControlName="unitLabel" id="unitLabel">
                  <option value="">-- Select --</option>
                  <option *ngFor="let unit of unitLabel" value="{{ unit.label }}">{{ unit.label }}
                  </option>
                </select>

              </div>
            </div>
            <div class="col-sm-6">
              <label for="supplier" class="label">Supplier Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="supplier"><i class="fa fa-user"></i></span>
                </div>
                <select class="form-control" formControlName="supplierId" id="supplier">
                  <!-- <option *ngFor="let supplier of suppliers" value="{{ supplier.id }}">{{ supplier.name }}</option> -->
                  <option [value]=null>--Select--</option>
                  <option *ngFor="let supplier of suppliers" [value]="supplier.id"> {{ supplier.name }} </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <button [disabled]="addItemForm.invalid" type="submit" nbButton>
                <span *ngIf="!isEditPage">Add Material</span>
                <span *ngIf="isEditPage">Update Material</span>
              </button>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>