<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        CART LIST
        <button (click)="newOrder()" class="btn btn-success fl-r"><i class="fa fa-plus"></i> New</button>
      </nb-card-header>
      <nb-card-body>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Order Date</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>01/10/2019</td>
              <td>12000</td>
              <td><span class="badge badge-pill badge-success">Under Review</span></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>12/10/2019</td>
              <td>8000</td>
              <td><span class="badge badge-pill badge-success">Despatched</span></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>18/10/2019</td>
              <td>19000</td>
              <td><span class="badge badge-pill badge-success">Under Review</span></td>
            </tr>
          </tbody>
        </table>

      </nb-card-body>
    </nb-card>
  </div>
</div>