<nb-layout>
  <nb-layout-column>

    <div class="row">
      <div class="offset-sm-2 col-md-8">
        <nb-card>
          <nb-card-header>Registration form</nb-card-header>
          <nb-card-body>
            <form [formGroup]="signupForm" (ngSubmit)="onSingup()" class="form-horizontal">

              <div class="form-group row">

                <label for="firstName" class="label col-sm-3 form-control-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="firstName" maxlength="30" formControlName="firstName"
                    placeholder="First Name" autofocus>
                  <span *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched"
                    class="help-block">Please enter a valid firstname!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="lastName" class="label col-sm-3 form-control-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="lastName" maxlength="30" formControlName="lastName"
                    placeholder="Last Name">
                  <span *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched"
                    class="help-block">Please enter a valid lastname!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="userName" class="label col-sm-3 form-control-label">User Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="userName" maxlength="30" formControlName="userName"
                    placeholder="User Name">
                  <span *ngIf="!signupForm.get('userName').valid && signupForm.get('userName').touched"
                    class="help-block">Please enter a valid username!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="emailID" class="label col-sm-3 form-control-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="emailID" maxlength="60" formControlName="email"
                    placeholder="Email">
                  <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
                    class="help-block">Please
                    enter a valid email!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="pass" class="label col-sm-3 form-control-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" nbInput fullWidth id="pass" minlength="6" maxlength="30"
                    formControlName="password" placeholder="Password">
                  <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                    class="help-block">Please enter a valid password!</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="about" class="label col-sm-3 form-control-label">About</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="about" maxlength="80" formControlName="about"
                    placeholder="About">
                </div>
              </div>

              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button [disabled]="signupForm.invalid" type="submit" nbButton
                    status="warning">Sign up</button>
                </div>
              </div>

              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <a style="cursor: pointer;" (click)="login()">Already have an account?</a>
                </div>
              </div>

            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>