input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

// .image-upload > input
// {
//     display: none;
// }

// .image-upload img
// {
//     width: 80px;
//     cursor: pointer;
// }

