<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Profile</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <!-- <img src="{{imgurl}}" (error)="setDefaultPic()" width="250px"> -->
            <form [formGroup]="imgUploadForm" enctype="multipart/form-data" (ngSubmit)="imgUpload()">
              <div class="row">
                <div class="col-md-12">
                  <!-- <img src="../.././../../assets/images/default.png" width="200px"> -->
                  <img src="{{imgurl}}" (error)="setDefaultPic()" width="200px">
                  <!-- <img src="{{imgurl}}" width="200px"> -->
                  <br/> <br/><br/>  
                </div>
                <div class="col-md-8">
                  <span>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="image"><i class="fa fa-image"></i></span>
                      <div class="custom-file">
                        <input type="file" accept="image/*" formControlName="image" (change)="imageUrl($event)" class="custom-file-input" id="validatedCustomFile">
                        <label class="custom-file-label" for="validatedCustomFile">{{ imgUrl }}</label>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-12">
                  <button [disabled]="imgUploadForm.invalid" type="submit" nbButton>Upload</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()" class="form-horizontal">
              <div class="form-group row">
                <div class="col-sm-12">
                  <label for="firstName" class="label">First Name</label>
                  <input type="text" nbInput fullWidth id="firstName" maxlength="30" formControlName="firstName"
                    placeholder="First Name" autofocus>
                  <span *ngIf="!editProfileForm.get('firstName').valid && editProfileForm.get('firstName').touched"
                    class="help-block">Please enter a valid first Name!</span>
                </div>
              </div>
    
              <div class="form-group row">                
                <div class="col-sm-12">
                  <label for="lastName" class="label">Last Name</label>
                  <input type="text" nbInput fullWidth id="lastName" maxlength="30" formControlName="lastName"
                    placeholder="Last Name">
                  <span *ngIf="!editProfileForm.get('lastName').valid && editProfileForm.get('lastName').touched"
                    class="help-block">Please enter a valid last Name!</span>
                </div>
              </div>
    
              <div class="form-group row">                
                <div class="col-sm-12">
                <label for="userName" class="label">User Name</label>
                  <input type="text" nbInput fullWidth id="userName" maxlength="30" formControlName="userName"
                    placeholder="User Name">
                  <span *ngIf="!editProfileForm.get('userName').valid && editProfileForm.get('userName').touched"
                    class="help-block">Please enter a valid username!</span>
                </div>
              </div>
    
              <div class="form-group row">
                <div class="col-sm-12">
                <label for="emailID" class="label">Email</label>
                  <input type="email" nbInput fullWidth id="emailID" maxlength="60" formControlName="email" placeholder="Email" readonly>
                  <!-- <span *ngIf="!editProfileForm.get('email').valid && editProfileForm.get('email').touched" class="help-block">Please
                    enter a valid email!</span> -->
                </div>
              </div>
    
              <div class="form-group row">
                <div class="col-md-6">
                  <button [disabled]="editProfileForm.invalid" type="submit" nbButton>Update</button>
                </div>
                 
                <div class="col-md-6">
                  <button type="button" (click)="open(content)" nbButton status="warning"  style="float: right;">Change Password</button>
                </div>
                <ng-template #content let-c="close" let-d="dismiss" id="modal-container">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-basic-title">
                      <span>Change Password</span>
                    </h5>
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                      <span aria-hidden="true" (click)="close()">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
                      <div class="row form-group">
                        <div class="col-md-12">
                          <!-- <label for="old_pass" class="label offset-sm-0 form-control-label"> Old Password</label>
                            <div class="input-group mb-3">
                              <input type="password" nbInput fullWidth id="old_pass" minlength="6" maxlength="30" formControlName="old_pass"
                                placeholder="Old Password">
                              <span *ngIf="!updatePasswordForm.get('old_pass').valid && updatePasswordForm.get('old_pass').touched"
                                class="help-block">Please enter a valid password!</span>
                            </div> -->

                            <label for="new_pass" class="label offset-sm-0  form-control-label">New Password</label>
                            <div class="input-group mb-3">
                              <input type="password" nbInput fullWidth id="new_pass" minlength="6" maxlength="30" formControlName="new_pass"
                                placeholder="New Password">
                              <span *ngIf="!updatePasswordForm.get('new_pass').valid && updatePasswordForm.get('new_pass').touched"
                                class="help-block">Please enter a valid password!</span>
                            </div>

                            <label for="con_pass" class="label offset-sm-0 form-control-label">Confirm Password</label>
                            <div class="input-group mb-3">
                              <input type="password" nbInput fullWidth id="con_pass" minlength="6" maxlength="30" formControlName="con_pass"
                                placeholder="Confirm Password">
                                <span *ngIf="!updatePasswordForm.get('con_pass').valid && updatePasswordForm.get('con_pass').touched"
                                class="help-block">Please enter a valid password!</span>
                                <br>
                                <span *ngIf="updatePasswordForm.hasError('notSame')"class="help-block"> Password doesn't match !</span>
                            </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-0 col-sm-12">
                          <button [disabled]="updatePasswordForm.invalid" type="submit" nbButton>
                            <span> Update Password</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
    
              
    
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>