<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Supplier</span>
        <span *ngIf="isEditPage">Update Supplier</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="addSupplierForm" enctype="multipart/form-data" (ngSubmit)="addSubpplier()">
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="supplierName" class="label">Supplier Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="supplierName"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" id="supplierName" maxlength="60" formControlName="name" class="form-control"
                  placeholder="Supplier name" aria-label="firstName">
                <span *ngIf="!addSupplierForm.get('name').valid && addSupplierForm.get('name').touched"
                  class="help-block">Please enter a valid name!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="phone" class="label">Phone number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="phone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                </div>
                <input type="number" id="phone" maxlength="10" formControlName="contactNumber" class="form-control"
                  placeholder="Phone number" aria-label="phone">
                <span
                  *ngIf="!addSupplierForm.get('contactNumber').valid && addSupplierForm.get('contactNumber').touched"
                  class="help-block">Please enter a valid number!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-6">
              <label for="email" class="label">Email</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="email"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" id="email" formControlName="email" maxlength="50" class="form-control"
                  placeholder="Email" aria-label="email">
                <span *ngIf="!addSupplierForm.get('email').valid && addSupplierForm.get('email').touched"
                  class="help-block">Please enter a valid email!</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="companyId" class="label">Company Id</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="companyId"><i class="fa fa-industry"
                      aria-hidden="true"></i></span>
                </div>
                <input type="text" id="companyId" maxlength="50" formControlName="companyId" class="form-control"
                  placeholder="Company Id">
                <span *ngIf="!addSupplierForm.get('companyId').valid && addSupplierForm.get('companyId').touched"
                  class="help-block">Please enter a valid company id!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-6">
              <label for="item" class="label">Material</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="item"><i class="fa fa-bars"></i></span>
                </div>
                <select class="form-control" formControlName="itemId" id="item">
                  <option value="">-- Select --</option>
                  <option *ngFor="let item of items" value="{{ item.id }}">{{ item.itemName }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="image" class="label">Image</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="itemImage"><i class="fa fa-image"></i></span>
                <div class="custom-file">
                  <input type="file" formControlName="image" (change)="imageUrl($event)" class="custom-file-input"
                    id="image">
                  <label class="custom-file-label" for="image">{{this.imgUrl}}</label>

                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12">
              <label for="address" class="label">Address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="address"><i class="fa fa-address-card"
                      aria-hidden="true"></i></span>
                </div>
                <textarea class="form-control" id="address" maxlength="250" formControlName="address"
                  aria-label="address" placeholder="Address"></textarea>
                <span *ngIf="!addSupplierForm.get('address').valid && addSupplierForm.get('address').touched"
                  class="help-block">Please enter a valid address!</span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12">
              <label for="description" class="label">Description</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-info" aria-hidden="true"></i></span>
                </div>
                <textarea class="form-control" id="description" maxlength="250" formControlName="description"
                  aria-label="With textarea" placeholder="Description"></textarea>
                <span *ngIf="!addSupplierForm.get('description').valid && addSupplierForm.get('description').touched"
                  class="help-block">Please enter a valid description!</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <button [disabled]="addSupplierForm.invalid" type="submit" nbButton>
                <span *ngIf="!isEditPage">Add Supplier</span>
                <span *ngIf="isEditPage">Update Supplier</span>
              </button>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>

  </div>
</div>