<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
            <div class="row">                
              <div class="col-md-12">
                <i (click)="backClicked()" class="fa fa-arrow-left" title="Go Back"></i> &nbsp;&nbsp;
                <strong>Tranfer ID-</strong> 
                {{showdata.transferId}}
              </div>
            </div>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <strong>Description</strong><br>
              {{showdata.description}}
            </div>
          </div>
  
          <br>
          <div class="row">
            <div class="col-12">
              <strong>Stock Transfer Details-</strong><br><br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let att of showdata.stockReturnItems; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{att.itemName}}</td>
                    <td>{{att.returnQuantity}} </td>
                    <td>{{att.itemStatus}} </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <p class="center help-block" *ngIf="!isEmpty"> There is no data of stock transfer return !</p>
                    </td>
                  </tr>
                </tbody>
                
              </table>
  
              
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>