@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};


i.fa.fa-edit{
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #8291a1 !important;
  padding: 0.35rem 0.35rem !important;
  border-radius: 5px !important;
}

i.fa.fa-trash{
  color: #fff !important;
  background-color: #e20404 !important;
  border-color: #8291a1 !important;
  padding: 0.35rem 0.45rem !important;
  border-radius: 5px !important;
}

i.fa.fa-eye{
  color: #fff !important;
  background-color: #056905e8 !important;
  border-color: #8291a1 !important;
  padding: 0.35rem 0.35rem !important;
  border-radius: 5px !important;
}
i.fa.fa-check{
  color: #fff !important;
  background-color: #29033be8 !important;
  border-color: #8291a1 !important;
  padding: 0.35rem 0.35rem !important;
  border-radius: 5px !important;
}

// .btn-primary {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
//   padding: 0.1rem 0.35rem;
// }

.action-btn{
  display: flex;
}

// i.fa.fa-edit{
//   color: #fff !important;
//   background-color: #fff !important;
//   border-color: #fff !important;
//   padding: 0.35rem 0.35rem !important;
//   border-radius: 5px !important;
// }

