<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img class="main-logo" src="../../../../assets/images/zenoxlogo.png">
      <!-- ZENOX -->
    </a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <nb-action class="user-action">
      <div class="dropdown">
        <button class="dropbtn"> <b>{{this.userName}}</b></button>
        <div class="dropdown-content">
          <a style="cursor: pointer" (click)="edit_profile()">Profile</a>
          <a style="cursor: pointer" (click)="logout()">Logout</a>
        </div>
      </div>
    </nb-action>
    <!-- <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="this.userName"
        [picture]="user?.picture">
      </nb-user>
    </nb-action> -->
  </nb-actions>
</div>