<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View Stock Return</span>
      </nb-card-header>
      <nb-card-body>

          <form>
              <div class="form-group form-inline">
                Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
              </div>
            </form>   
          
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Transfer ID</th>
              <th scope="col">Notes</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of history$ | async; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <!-- <td>{{row.transferId}}</td> -->
              <td>
                <ngb-highlight [result]="row.transferId" [term]="filter.value"></ngb-highlight>
              </td>
              <td>{{row.description}}</td>
              <td>{{row.status}}</td>
              <td class="action-btn"> 
                  <a (click)="viewData(row)" ngbTooltip="View"><i class="fa fa-eye"></i></a> 
                <!-- <a *ngIf="!history.isDeleted" (click)="editHistory(row)"><i class="fa fa-edit"> </i></a> &nbsp; -->
                <a *ngIf="history.isDeleted" ngbTooltip="Activate" (click)="activateHistory(row)"><i class="fa fa-check"></i></a>&nbsp;
                <a *ngIf="!history.isDeleted" ngbTooltip="Delete" (click)="deleteHistory(row)"><i class="fa fa-trash"></i></a>
              </td>

            </tr>

            <tr>
              <td colspan="5">
                <p class="center help-block" *ngIf="!isEmpty"> There is no data of return stock transfer !</p>
              </td>
            </tr>
          </tbody>
        </table>
        
      </nb-card-body>
    </nb-card>
  </div>

</div>


