<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View All Supplier</span>
      </nb-card-header>
      <nb-card-body>
          <form>
              <div class="form-group form-inline">
                Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
              </div>
            </form>
          
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Supplier Name</th>
              <th scope="col">Description</th>
              <th scope="col">Email ID</th>
              <th scope="col">Company ID</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of suppliers$ | async">
              <td>{{ supplier.id }}</td>
              <td>               
                
                  <!-- {{supplier.name | slice:0:15}}... -->
                  <ngb-highlight [result]="supplier.name | slice:0:15" [term]="filter.value"></ngb-highlight>
                  <label ngbTooltip="{{ supplier.name }}"> ...</label>
              </td>
              <td>
                {{supplier.description | slice:0:150}}
                <label ngbTooltip="{{supplier.description}}">...</label>
              </td>
              <td>
                <!-- {{supplier.email}} -->
                <ngb-highlight [result]="supplier.email" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <!-- {{supplier.companyId}} -->
                <ngb-highlight [result]="supplier.companyId" [term]="filter.value"></ngb-highlight>
              </td>
              <td>{{supplier.contactNumber}}</td>
              <td class="action-btn">
                <!-- <a (click)="open(content)"><i class="fa fa-eye"></i> </a> &nbsp; -->
                <a placement="top" ngbTooltip="Edit" *ngIf="!supplier.isDeleted" (click)="editSupplier(supplier)"><i class="fa fa-edit"> </i></a> &nbsp;
                <a placement="top" ngbTooltip="Active" *ngIf="supplier.isDeleted" (click)="activateSupplier(supplier)"><i class="fa fa-check"></i></a>&nbsp;
                <a placement="top" ngbTooltip="Delete" *ngIf="!supplier.isDeleted" (click)="deleteSupplier(supplier)"><i class="fa fa-trash"></i></a>
              </td>

            </tr>
            <tr>
              <td colspan="7">
                <p class="center help-block" *ngIf="!isEmpty"> There is no data of supplier list!</p>
              </td>
            </tr>
          </tbody>
        </table>
         
      </nb-card-body>
    </nb-card>
  </div>

</div>


<!-- 
<div class="row ">
  <div class="card supplier-list" *ngFor="let supplier of this.suppliers">

    <div class="row" (click)="addNewItem(supplier)">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="supplier-img">
          <img class="card-img-top" src="../../../../assets/images/{{supplier.image}}" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <p class="card-title">{{supplier.name}} </p>
      </div>
    </div>

  </div>

</div> -->
