.card.supplier-list {
    padding: 5px;
    margin: 5px 0px;
  }
  
  .supplier-img img {
    border-radius: 50%;
  }
  
  p.card-title {
    padding: 0;
    font-weight: 600;
  }
  
  .supplier-img .card-img-top {
    width: 100%;
    // min-height: 50px;
  }
  
  @media only screen and (max-width: 768px) and (min-width: 480px)  {
    .supplier-img img.card-img-top {
      min-height: 25px !important;
    }
  }
  
  @media only screen and (min-width: 769px) {
    p.card-title {
      position: relative;
      top: 15px;
    }
  
    .supplier-img .card-img-top {
      min-height: 50px;
    }
  }
  