<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>Search Suppliers</nb-card-header>
      <nb-card-body class="search-layout">

        <div class="input-group mb-3">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <span class="input-group-text" id="supplierName"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <div class="row ">
          <div class="card supplier-list" *ngFor="let supplier of this.suppliers">
            <!-- <a > -->
            <div class="row" (click)="addNewItem(supplier)">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="supplier-img">
                  <img class="card-img-top" src="../../../../assets/images/{{supplier.image}}" alt="Card image cap">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <p class="card-title">{{supplier.name}} </p>
              </div>
            </div>
            <!-- </a> -->
          </div>
          <div *ngIf="!isEmpty" class="form-group">
            <p>There is no supplier</p>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>