<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <span>View All Purchase Order</span>
        </nb-card-header>
        <nb-card-body>
            <form>
                <div class="form-group form-inline">
                  Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
                </div>
              </form>            
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">ETA</th>
                <th scope="col">Payment Method </th>
                <th scope="col">Order Note </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let purchase of allData$ | async; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ purchase.purchaseDetail.id}}</td>
                <!-- <td>{{ purchase.purchaseDetail.supplierName}}</td> -->
                <td>
                    <ngb-highlight ngbTooltip="{{ purchase.supplierName }}" [result]="purchase.supplierName" [term]="filter.value"></ngb-highlight>
                </td>
                <td>{{ purchase.purchaseDetail.estimateTime | date : format : timezone }}</td>
                <td>{{ purchase.purchaseDetail.paymentMethod }}</td>
                <td>{{ purchase.purchaseDetail.orderNote }}</td>
                <td class="action-btn">
                  <a (click)="viewPurchaseOrder(purchase.purchaseDetail)" ngbTooltip="View"><i class="fa fa-eye"> </i></a> &nbsp;
                  <a *ngIf="!purchase.isDeleted"ngbTooltip ="Edit" (click)="editpurchase(purchase.purchaseDetail)"><i class="fa fa-edit"> </i></a> &nbsp;
                  <a *ngIf="purchase.isDeleted" ngbTooltip="Activate" (click)="activatepurchase(purchase.purchaseDetail)"><i class="fa fa-check"></i></a>&nbsp;
                  <a *ngIf="!purchase.isDeleted" ngbTooltip="Delete" (click)="deletepurchase(purchase.purchaseDetail)"><i class="fa fa-trash"></i></a>
                </td>  
              </tr>
              <tr>
                <td colspan="7">
                  <p class="center help-block" *ngIf="!isEmpty"> There is no data of purchase order !</p>
                </td>
              </tr>
            </tbody>
          </table>
          
        </nb-card-body>
      </nb-card>
    </div>
  
  </div>
  
  
  