<div class="row">
  <!-- <div class="col-md-4">
    <ngx-search-layout></ngx-search-layout>
  </div>
  <div class="col-md-8">
    <ngx-detail-layout></ngx-detail-layout>
  </div> -->

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>View All Material</span>
      </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group form-inline">
            Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price(&#x20b9;) </th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of materials$ | async">
              <td>
                {{ item.id }}
              </td>
              <!-- <td>{{ item.itemName }}</td> -->
              <td>
                <ngb-highlight ngbPopover="{{item.itemName}}" triggers="mouseenter:mouseleave" [result]="item.itemName | slice:0:20 " [term]="filter.value"> </ngb-highlight>
              </td>
              <!-- <td> 
                <p ngbPopover="{{item.itemName}}" triggers="mouseenter:mouseleave"  >
                  {{item.itemName | slice:0:7}}...
                </p>                
              </td> -->
              <td> 
                
                    &#x20b9; {{ item.price }} 
                
              </td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unitLabel }}</td> 
              <td>{{ item.itemDescription |slice:0:150 }} <label ngbTooltip="{{ item.itemDescription }}">...</label></td>
              <td class="action-btn">
                <a *ngIf="!item.isDeleted" placement="top" ngbTooltip="Edit" (click)="editITem(item)"><i
                    class="fa fa-edit"></i></a>
                <a *ngIf="item.isDeleted" placement="top" ngbTooltip="Active" (click)="activateItem(item)"><i class="fa fa-check"></i></a>
                <a *ngIf="!item.isDeleted" placement="top" ngbTooltip="Delete" (click)="deleteItem(item)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>

            <tr>
              <td colspan="7">
                <p class="center help-block" *ngIf="!isEmpty"> There is no data of material !</p>
              </td>
            </tr>
          </tbody>
        </table>

      </nb-card-body>
    </nb-card>
  </div>

</div>