<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <span *ngIf="!isEditPage">Add Stock Return</span>
        <span *ngIf="isEditPage">Update Stock Return</span>
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="addStockReturnForm" enctype="multipart/form-data" (ngSubmit)="addStockReturn()">
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="purchaseOrderId" class="label">Purchase Order ID</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="purchaseOrderId"><i class="fa fa-user"></i></span>
                </div>
                <select formControlName="purchaseOrderId" class="form-control">
                  <option value="123456"> 123456 </option>
                  <!-- <option *ngFor="let supp of purchaseOrderId" value="{{supp.name}}">{{supp.name}} </option> -->
                  
                </select>
                <span *ngIf="!addStockReturnForm.get('purchaseOrderId').valid && addStockReturnForm.get('purchaseOrderId').touched"
                  class="help-block">Please select a valid purchase id!</span>
              </div>
            </div>          
          </div>

          <div class="row form-group">
            <div class="col-12">
              <section>
                <section class="container border mb-4 p-3">                                   
                  <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                          <label class="label"> Raw Material </label>
                          <select class="form-control" formControlName="raw_material_name" (change)="getdata($event)">
                            <option *ngFor="let data of rawMaterials" value="{{data.itemName}}"> {{data.itemName}} </option>                            
                          </select>
                          <span class="err-msg">{{errorMessageMaterial}}</span>
                        </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label class="label"> Quantity </label>
                          <input type="number" class="form-control" formControlName="quantity" placeholder="Quantity" (change)="checkQuantity($event)"/>
                          <span> Available - {{totalQuantity}}</span><br>
                          <span class="err-msg">{{errorMessageQty}}</span>
                        </div>
                    </div>

                    <div class="col-3">
                      <div class="form-group">
                          <label class="label"> Amount </label>
                          <input type="number" class="form-control" formControlName="amount" placeholder="Amount" readonly/>
                        </div>
                    </div>

                    <div class="col-2">
                      <div class="form-group">
                          <label class="label"> Status </label>
                          <select class="form-control" formControlName="status">
                            <option value="Unused"> Unused </option>
                            <option value="Defective"> Defective </option>
                          </select>
                          <span class="err-msg">{{errorMessageStatus}}</span>
                        </div>
                    </div>

                    <div class="col-1">
                      <div class="form-group"><br> 

                        <button type="button" class="btn btn-primary btn-sm" style="float: right;" (click)="addmaterial()" style="margin-top: 10px; margin-left: -10px;">Add</button>

                      </div>
                    </div>

                  </div>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Sr. No.</th>
                      <th scope="col">Raw Materials </th>
                      <th scope="col">Status</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let val of valuedataarray; let i = index">
                        <td> {{i+1}}</td>
                        <td> {{val.raw_material_name}}</td>
                        <td> {{val.status}}</td>
                        <td> {{val.quantity}}</td>
                        <td> {{val.amount}}</td>
                        <td> {{val.total_amount}} </td>
                        <td> <a (click)="deleterow(val, i)"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                          <td>  </td>
                          <td>  </td>
                          <td>  </td>
                          <td>  </td>
                          <td scope="col"> Sub Total  </td>
                          <td scope="col"> {{grossAmount}} </td>
                          <td>  </td>
                        </tr>
                    </tbody>
                  </table>
                </section> 
              </section>
            </div>
          </div>
          
          <div class="row form-group">
            <div class="col-sm-12">
                <label for="return_note" class="label">Return Note</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="return_note"><i class="fa fa-address-card"
                        aria-hidden="true"></i></span>
                  </div>
                  <textarea class="form-control" id="return_note" maxlength="250" formControlName="return_note"
                    aria-label="note"></textarea>
                  <span *ngIf="!addStockReturnForm.get('return_note').valid && addStockReturnForm.get('return_note').touched"
                    class="help-block">Please Enter Return Note !</span>
                </div>
              </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <button [disabled]="addStockReturnForm.invalid" type="submit" nbButton>
                  <!-- <span>Add </span> -->
                <span *ngIf="!isEditPage">Add </span>
                <span *ngIf="isEditPage">Update </span>
              </button>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>

  </div>
</div>