i.fa.fa-phone {
    transform: rotateY(180deg);
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

span.err-msg {
    font-size: 11px;
    color: red;
}

span.help-block {
    display: block;
    width: 100%;
}