@import '../../../@theme/styles/themes';

// @include nb-install-component() {
//   nb-card-body {
//     display: flex;
//     justify-content: space-between;

//     input {
//       width: 100%;
//     }
//   }
// }

// form{
//   width: 100%;
// }

i.fa.fa-phone {
    transform: rotateY(180deg);
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block {
    font-size: 12px;
    color: red;
}

span.help-block {
    display: block;
    width: 100%;
}


.checkbox-radio {
  display: flex;
}

input[type="checkbox"] {
  width: 10%!important;
}

#shipping{
  width: 336px;
}

span.error-msg {
  font-size: 11px;
  color: red;
}

#estimateTime{
  max-width:100% !important;
}