<div class="row">
    <div class="col-md-12">
  
      <nb-card>
        <nb-card-header>
          <span *ngIf="!isEditPage">Add Purchase Order</span>
          <span *ngIf="isEditPage">Update Purchase Order</span>
        </nb-card-header>
        <nb-card-body>
  
          <form [formGroup]="addPurchaseOrderForm" enctype="multipart/form-data" (ngSubmit)="addPurchaseOrder()">
            <div class="row form-group">
              <div class="col-md-6">
                <label for="supplierId" class="label">Supplier Name</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="supplierId"><i class="fa fa-user"></i></span>
                  </div>
                  <select formControlName="supplierId" class="form-control">
                    <option value="">-- Select --</option>
                    <option *ngFor="let supp of supplierId" value="{{supp.id}}">{{supp.name}} </option>                    
                  </select>
                  <span *ngIf="!addPurchaseOrderForm.get('supplierId').valid && addPurchaseOrderForm.get('supplierId').touched"
                    class="help-block">Please select a valid supplier name!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="estimateTime" class="label">ETA</label>
                <div class="input-group">
                    <input nbInput placeholder="Date" [nbDatepicker]="formpicker" formControlName="estimateTime" class="form-control" id="estimateTime">
                    <nb-datepicker #formpicker> </nb-datepicker>
                  <span
                    *ngIf="!addPurchaseOrderForm.get('estimateTime').valid && addPurchaseOrderForm.get('estimateTime').touched"
                    class="help-block">Please enter a valid ETA!</span>
                </div>
              </div>
            
              <!-- <div class="col-sm-4">
                <label for="invoicestatus" class="label">Invoice Status</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="invoicestatus"><i class="fa fa-file"></i></span>
                  </div>
                  <select formControlName="invoicestatus" class="form-control">
                    <option value="Cheque">Cheque</option>
                    <option value="Cash">Cash</option>
                  </select>
                  <span *ngIf="!addPurchaseOrderForm.get('invoicestatus').valid && addPurchaseOrderForm.get('invoicestatus').touched"
                    class="help-block">Please Select a valid Invoice Status!</span>
                </div>
              </div> -->
            
            </div>
  
            <div class="row form-group">
                <div class="col-12">
                  <section>
                      <section class="container border mb-4 p-3">
                                                 
                          <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                  <label class="label"> Raw Material </label>
                                  <select class="form-control" formControlName="materialId" (change)="getdata($event)">
                                    <option *ngFor="let data of rawMaterials" value="{{data.itemName}}"> {{data.itemName}} </option>
                                  </select>
                                  <span class="error-msg">{{errorMessageItem}}</span>
                                </div>
                            </div>
                            <div class="col-3">
                              <div class="form-group">
                                <label class="label"> Quantity </label>
                                <input type="text" class="form-control" formControlName="materialQty" placeholder="Quantity" (change)="checkQuantity($event)"/>
                                <span> Available - {{totalQuantity}}</span><br>
                                <span class="error-msg">{{errorMessageQty}}</span>
                              </div>
                            </div>

                            <div class="col-3">
                              <div class="form-group">
                                <label class="label"> Amount </label>
                                <input type="number" class="form-control" formControlName="materialAmount" placeholder="Amount" />
                                <span *ngIf="!addPurchaseOrderForm.get('materialAmount').valid && addPurchaseOrderForm.get('materialAmount').touched" class="help-block">Please enter a valid amount !</span>
                              </div>
                            </div>
        
                            <div class="col-3">
                              <div class="form-group"><br> 

                                <button type="button" class="btn btn-primary btn-sm" style="float: right;" (click)="addmaterial()" style="margin-top: 10px; margin-left: -10px;">Add</button>

                              </div>
                            </div>
        
                          </div>
                          <table class="table table-striped">
                            <thead>
                            <tr>
                              <th scope="col">Sr. No.</th>
                              <th scope="col">Raw Materials </th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Total Amount</th>
                              <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let val of valuedataarray; let i = index">
                                <td> {{i+1}}</td>
                                <td> {{val.materialName}}</td>
                                <td> {{val.materialQty}}</td>
                                <td> {{val.materialAmount}}</td>
                                <td> {{val.total_amount}} </td>
                                <td> <a (click)="deleterow(val, i)"><i class="fa fa-trash"></i></a></td>
                              </tr>
                              <tr>
                                  <td>  </td>
                                  <td>  </td>
                                  <td>  </td>
                                  <td scope="col"> Sub Total  </td>
                                  <td scope="col"> {{grossAmount}} </td>
                                  <td>  </td>
                                </tr>
                            </tbody>
                          </table>
                        </section>
                        
                  </section>
                  
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-sm-6">
                    <label for="billingAddress" class="label">Billing Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" for="billingAddress"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      </div>
                      <textarea class="form-control" id="billingAddress" maxlength="250" formControlName="billingAddress"
                        aria-label="note"></textarea>
                      <span *ngIf="!addPurchaseOrderForm.get('billingAddress').valid && addPurchaseOrderForm.get('billingAddress').touched"
                        class="help-block">Please Enter Valid Address !</span>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                      <label for="shippingAddress" class="label" id="shipping">
                        Shipping Address <input type="checkbox" (click)="AddToTextArea()" />(If same as billing address)</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" for="shippingAddress"><i class="fa fa-map-marker"
                              aria-hidden="true"></i></span>
                        </div>
                        <textarea class="form-control" id="shippingAddress" maxlength="250" formControlName="shippingAddress"
                          aria-label="note"></textarea>                        
                      </div>
                    </div>
                </div>

              <div class="row form-group">
                <div class="col-sm-6">
                  <label for="paymentMethod" class="label">Payment Method</label>
                  <div class="custom-control custom-radio">
                      <input type="radio" value="cash" class="custom-control-input" id="cash" formControlName="paymentMethod">
                      <label class="custom-control-label" for="cash">Cash</label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                      <input type="radio" value="cheque" class="custom-control-input" id="cheque" formControlName="paymentMethod">
                      <label class="custom-control-label" for="cheque">Cheque</label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" value="Bank Transfer" class="custom-control-input" id="Bank Transfer" formControlName="paymentMethod" >
                      <label class="custom-control-label" for="Bank Transfer">Bank Transfer</label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" value="Others" class="custom-control-input" id="Others" formControlName="paymentMethod" checked>
                      <label class="custom-control-label" for="Others" >Other</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="orderNote" class="label">Order Note</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" for="orderNote"><i class="fa fa-address-card"
                            aria-hidden="true"></i></span>
                      </div>
                      <textarea class="form-control" id="orderNote" maxlength="250" formControlName="orderNote"
                        aria-label="note"></textarea>
                      <span *ngIf="!addPurchaseOrderForm.get('orderNote').valid && addPurchaseOrderForm.get('orderNote').touched"
                        class="help-block">Please Enter Order Note !</span>
                    </div>
                  </div>
              </div>
   
            <div class="form-group row">
              <div class="col-sm-12">
                <button [disabled]="addPurchaseOrderForm.invalid" type="submit" nbButton>
                    <!-- <span>Add </span> -->
                  <span *ngIf="!isEditPage">Add </span>
                  <span *ngIf="isEditPage">Update </span>
                </button>
              </div>
            </div>
          </form>
  
        </nb-card-body>
      </nb-card>
  
    </div>
  </div>