<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        Supplier Details

        <div *ngIf="supplier.name" class="btn-group action-btn floatRight">
          <button type="button" *ngIf="supplier.isDeleted" class="btn btn-success"
            (click)="activeSupplier(supplier.id)"><i class="fa fa-check"></i></button>
          <button type="button" *ngIf="!supplier.isDeleted" class="btn btn-warning" (click)="editSupplier(supplier)"><i
              class="fa fa-edit"></i></button>
          <button type="button" *ngIf="!supplier.isDeleted" class="btn btn-danger" (click)="deleteSupp(supplier.id)"><i
              class="fa fa-trash"></i></button>
        </div>

      </nb-card-header>
      <nb-card-body *ngIf="supplier.name" class="details-layout">
        <div class="supplier-detail-img">
          <img src="../../../../assets/images/{{supplier.image}}">
        </div>
        <div class="supplier-info">
          <h4>{{supplier.name}} </h4>
          <hr>
          <p><strong>Phone</strong>: {{supplier.contactNumber}}</p>
          <p><strong>Address</strong>: {{supplier.address}}</p>
          <p><strong>Description</strong>: {{supplier.description}}</p>
          <p><strong>Email</strong>: {{supplier.email}}</p>
          <p><strong>Company Id</strong>: {{supplier.companyId}}</p>
        </div>
      </nb-card-body>
      <nb-card-body *ngIf="!supplier.name" class="details-layout">
        <p>{{supplier}}</p>
      </nb-card-body>
    </nb-card>
  </div>
</div>