.details-layout{
    padding: 20px;
}

.supplier-detail-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.supplier-info {
    padding-top: 15px;
}

i.fa.fa-phone {
    transform: rotateY(180deg);
}

.floatRight{
    float: right;
}

.action-btn .fa {
    color: #fff;
  }